main {
    margin: 0 auto;
    width: 80%;
    min-height: 50%;
}

.title {
    font-family: 'Fredoka One', cursive, sans-serif;
    color: #e53170;
    text-shadow: 2px 2px #dddddd;
    font-size: 36px;
    margin: 0 auto;
    text-align: center;
    width: 30%;
}

.description {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
}

.boxtopcontainer {
    padding: 2%  1.8%;
    text-align: center;
}

.boxbottomcontainer {
    padding: 2%  1.8%;
    text-align: center;

}

.boxtop {
    width: 25%;
    background-color: black;
    box-shadow: -5px 5px 19px -4px #000000;
    border-radius: 5px;
    display: inline-block;
    margin-right: 30px;
}

.boxbottom {
    width: 25%;
    background-color: black;
    box-shadow: -5px 5px 19px -4px #000000;
    border-radius: 5px;
    display: inline-block;
    margin-right: 30px;
}

div > p {
    text-align: left;
}

div > p.mail {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

div > p.name {
    padding-top: 13px;
    margin-top: 0px;
}

.name {
    font-family: 'Fredoka One', cursive, sans-serif;
    color: white;
    padding-left: 115px;
    padding-top: 15px;
    margin-bottom: -10px;
}

.role {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
    padding-left: 115px;
}

.mail {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #0789bd;
    padding-left: 115px;
    margin-top: -15px;
    padding-bottom: 10px;
}

.float-left {
    float: left;
    width: 100px;
    border-radius: 5px;
}