main {
    margin: 0 auto;
    width: 80%;
    min-height: 50%;
    border: 5px solid blue;
}

.title {
    font-family: 'Fredoka One', cursive, sans-serif;
    color: #e53170;
    text-shadow: 2px 2px #dddddd;
    font-size: 36px;
    margin: 0 auto;
    text-align: center;
    width: 30%;
    border: 5px solid #b82722;
}

.description {
    border: 5px solid #22b822;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
}

.boxescontainer {
    border: 5px solid #f8e646;
    padding: 2%  1.8%;
}

.box {
    width: 30%;
    background-color: black;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.322);
}

.name {
    font-family: 'Fredoka One', cursive, sans-serif;
    color: white;
}

.role {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
}

.mail {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.float-left {
    float: left;
}